<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                {{ location.name }}
            </td>
        </tr>
        <tr>
            <th>Geoname Id</th>
            <td>
                {{ location.geonameId }}
            </td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>
                {{ location.latitude }}
            </td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>
                {{ location.longitude }}
            </td>
        </tr>
        <tr>
            <th>Fclass</th>
            <td>
                {{ location.fclass }}
            </td>
        </tr>
        <tr>
            <th>Fcode</th>
            <td>
                {{ location.fcode }}
            </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>
                {{ location.country }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ location.description|raw }}
            </td>
        </tr>

        <tr>
            <th>Links</th>
            <td>
                {% for link in location.links %}
                    {{ link|raw }} <br />
                {% endfor %}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ location.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ location.updated|date }}</td>
        </tr>
    </tbody>
</table>


